UFT-Exercise3/EmbeddedResources/accountser/webServices/accountser/_1.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="com.advantage.online.store.accountservice" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="lastName" type="xs:string" />
        <xs:element form="qualified" name="firstName" type="xs:string" />
        <xs:element form="qualified" name="loginName" type="xs:string" />
        <xs:element form="qualified" name="countryId" type="xs:long" />
        <xs:element form="qualified" name="stateProvince" type="xs:string" />
        <xs:element form="qualified" name="cityName" type="xs:string" />
        <xs:element form="qualified" name="address" type="xs:string" />
        <xs:element form="qualified" name="zipcode" type="xs:string" />
        <xs:element form="qualified" name="phoneNumber" type="xs:string" />
        <xs:element form="qualified" name="email" type="xs:string" />
        <xs:element form="qualified" name="password" type="xs:string" />
        <xs:element form="qualified" name="accountType" type="xs:int" />
        <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q1="com.advantage.online.store.accountservice" type="q1:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPermanentDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q2="com.advantage.online.store.accountservice" type="q2:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPermanentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q3="com.advantage.online.store.accountservice" type="q3:responseReason" />
              <xs:element form="qualified" name="OrderHeaderDelete" type="xs:boolean" />
              <xs:element form="qualified" name="OrderLinesDelete" type="xs:boolean" />
              <xs:element form="qualified" name="ShippingAddressDelete" type="xs:boolean" />
              <xs:element form="qualified" name="PaymentPreferenceDelete" type="xs:boolean" />
              <xs:element form="qualified" name="AccountDelete" type="xs:boolean" />
              <xs:element form="qualified" name="IsSuccess" type="xs:boolean" />
              <xs:element form="qualified" name="Reason" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDto" nillable="true" type="xs:anyType" />
  <xs:element name="AccountLoginRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="loginUser" type="xs:string" />
        <xs:element form="qualified" name="email" type="xs:string" />
        <xs:element form="qualified" name="loginPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q4="com.advantage.online.store.accountservice" type="q4:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountLogoutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="loginUser" type="xs:string" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q5="com.advantage.online.store.accountservice" type="q5:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="success" xmlns:q6="com.advantage.online.store.accountservice" type="q6:responseReason" />
        <xs:element form="qualified" name="userId" type="xs:long" />
        <xs:element form="qualified" name="reason" type="xs:string" />
        <xs:element form="qualified" name="token" type="xs:string" />
        <xs:element form="qualified" name="sessionId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="lastName" type="xs:string" />
        <xs:element form="qualified" name="firstName" type="xs:string" />
        <xs:element form="qualified" name="countryId" type="xs:long" />
        <xs:element form="qualified" name="stateProvince" type="xs:string" />
        <xs:element form="qualified" name="cityName" type="xs:string" />
        <xs:element form="qualified" name="address" type="xs:string" />
        <xs:element form="qualified" name="zipcode" type="xs:string" />
        <xs:element form="qualified" name="phoneNumber" type="xs:string" />
        <xs:element form="qualified" name="email" type="xs:string" />
        <xs:element form="qualified" name="accountType" type="xs:int" />
        <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q7="com.advantage.online.store.accountservice" type="q7:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" form="qualified" name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="addressLine1" type="xs:string" />
              <xs:element form="qualified" name="addressLine2" type="xs:string" />
              <xs:element form="qualified" name="city" type="xs:string" />
              <xs:element form="qualified" name="country" type="xs:string" />
              <xs:element form="qualified" name="state" type="xs:string" />
              <xs:element form="qualified" name="postalCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="cardNumber" type="xs:string" />
        <xs:element form="qualified" name="expirationDate" type="xs:string" />
        <xs:element form="qualified" name="cvvNumber" type="xs:string" />
        <xs:element form="qualified" name="customerName" type="xs:string" />
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="safePayUsername" type="xs:string" />
        <xs:element form="qualified" name="safePayPassword" type="xs:string" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q8="com.advantage.online.store.accountservice" type="q8:responseReason" />
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address" nillable="true" type="xs:anyType" />
  <xs:element name="AddressStatusResponse" nillable="true" type="xs:anyType" />
  <xs:element name="AddressUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" nillable="true" type="xs:long" />
              <xs:element form="qualified" name="addressLine1" type="xs:string" />
              <xs:element form="qualified" name="addressLine2" type="xs:string" />
              <xs:element form="qualified" name="city" type="xs:string" />
              <xs:element form="qualified" name="country" type="xs:string" />
              <xs:element form="qualified" name="state" type="xs:string" />
              <xs:element form="qualified" name="postalCode" type="xs:string" />
              <xs:element form="qualified" name="accountId" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q9="com.advantage.online.store.accountservice" type="q9:responseReason" />
              <xs:element form="qualified" name="reason" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="oldPassword" type="xs:string" />
        <xs:element form="qualified" name="newPassword" type="xs:string" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q10="com.advantage.online.store.accountservice" type="q10:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Country">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:long" />
        <xs:element form="qualified" name="name" type="xs:string" />
        <xs:element form="qualified" name="isoName" type="xs:string" />
        <xs:element form="qualified" name="phonePrefix" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="name" type="xs:string" />
        <xs:element form="qualified" name="isoName" type="xs:string" />
        <xs:element form="qualified" name="phonePrefix" type="xs:int" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountrySearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="internationalPhonePrefix" type="xs:int" />
        <xs:element form="qualified" name="startOfName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountrySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q11="com.advantage.online.store.accountservice" ref="q11:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q12="com.advantage.online.store.accountservice" type="q12:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdNewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="AccountResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="lastName" type="xs:string" />
              <xs:element form="qualified" name="firstName" type="xs:string" />
              <xs:element form="qualified" name="loginName" type="xs:string" />
              <xs:element form="qualified" name="accountType" type="xs:int" />
              <xs:element form="qualified" name="countryId" type="xs:long" />
              <xs:element form="qualified" name="countryName" type="xs:string" />
              <xs:element form="qualified" name="countryIsoName" type="xs:string" />
              <xs:element form="qualified" name="stateProvince" type="xs:string" />
              <xs:element form="qualified" name="cityName" type="xs:string" />
              <xs:element form="qualified" name="homeAddress" type="xs:string" />
              <xs:element form="qualified" name="zipcode" type="xs:string" />
              <xs:element form="qualified" name="mobilePhone" type="xs:string" />
              <xs:element form="qualified" name="email" type="xs:string" />
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long" />
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int" />
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long" />
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="AccountResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="lastName" type="xs:string" />
              <xs:element form="qualified" name="firstName" type="xs:string" />
              <xs:element form="qualified" name="loginName" type="xs:string" />
              <xs:element form="qualified" name="accountType" type="xs:int" />
              <xs:element form="qualified" name="countryId" type="xs:long" />
              <xs:element form="qualified" name="countryName" type="xs:string" />
              <xs:element form="qualified" name="countryIsoName" type="xs:string" />
              <xs:element form="qualified" name="stateProvince" type="xs:string" />
              <xs:element form="qualified" name="cityName" type="xs:string" />
              <xs:element form="qualified" name="address" type="xs:string" />
              <xs:element form="qualified" name="zipcode" type="xs:string" />
              <xs:element form="qualified" name="phoneNumber" type="xs:string" />
              <xs:element form="qualified" name="email" type="xs:string" />
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long" />
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int" />
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long" />
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="numberOfFailedLoginAttemptsBeforeBlocking" type="xs:int" />
        <xs:element form="qualified" name="loginBlockingIntervalInSeconds" type="xs:long" />
        <xs:element form="qualified" name="productInStockDefaultValue" type="xs:int" />
        <xs:element form="qualified" name="userSecondWsdl" type="xs:boolean" />
        <xs:element form="qualified" name="userLoginTimeout" type="xs:int" />
        <xs:element form="qualified" name="allowUserConfiguration" type="xs:boolean" />
        <xs:element form="qualified" name="productionHostIp" type="xs:string" />
        <xs:element form="qualified" name="productionHostName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountPaymentPreferencesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByAccountIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:int" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" form="qualified" name="ShippingAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" nillable="true" type="xs:long" />
              <xs:element form="qualified" name="addressLine1" type="xs:string" />
              <xs:element form="qualified" name="addressLine2" type="xs:string" />
              <xs:element form="qualified" name="city" type="xs:string" />
              <xs:element form="qualified" name="country" type="xs:string" />
              <xs:element form="qualified" name="state" type="xs:string" />
              <xs:element form="qualified" name="postalCode" type="xs:string" />
              <xs:element form="qualified" name="accountId" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" form="qualified" name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="lastName" type="xs:string" />
              <xs:element form="qualified" name="firstName" type="xs:string" />
              <xs:element form="qualified" name="loginName" type="xs:string" />
              <xs:element form="qualified" name="accountType" type="xs:int" />
              <xs:element form="qualified" name="countryId" type="xs:long" />
              <xs:element form="qualified" name="countryName" type="xs:string" />
              <xs:element form="qualified" name="countryIsoName" type="xs:string" />
              <xs:element form="qualified" name="stateProvince" type="xs:string" />
              <xs:element form="qualified" name="cityName" type="xs:string" />
              <xs:element form="qualified" name="address" type="xs:string" />
              <xs:element form="qualified" name="zipcode" type="xs:string" />
              <xs:element form="qualified" name="phoneNumber" type="xs:string" />
              <xs:element form="qualified" name="email" type="xs:string" />
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long" />
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int" />
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long" />
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q13="com.advantage.online.store.accountservice" ref="q13:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentMethodUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long" />
        <xs:element form="qualified" name="paymentMethod" type="xs:int" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentMethodUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q14="com.advantage.online.store.accountservice" type="q14:responseReason" />
              <xs:element form="qualified" name="userId" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
              <xs:element form="qualified" name="token" type="xs:string" />
              <xs:element form="qualified" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" form="qualified" name="preference">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="paymentMethod" type="xs:int" />
              <xs:element form="qualified" name="cardNumber" type="xs:string" />
              <xs:element form="qualified" name="expirationDate" type="xs:string" />
              <xs:element form="qualified" name="cvvNumber" type="xs:string" />
              <xs:element form="qualified" name="safePayUsername" type="xs:string" />
              <xs:element form="qualified" name="safePayPassword" type="xs:string" />
              <xs:element form="qualified" name="customerName" type="xs:string" />
              <xs:element form="qualified" name="preferenceId" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentPreferencesDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="paymentMethod" type="xs:int" />
        <xs:element form="qualified" name="cardNumber" type="xs:string" />
        <xs:element form="qualified" name="expirationDate" type="xs:string" />
        <xs:element form="qualified" name="cvvNumber" type="xs:string" />
        <xs:element form="qualified" name="safePayUsername" type="xs:string" />
        <xs:element form="qualified" name="safePayPassword" type="xs:string" />
        <xs:element form="qualified" name="customerName" type="xs:string" />
        <xs:element form="qualified" name="preferenceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentPreferencesStatusResponse" nillable="true" type="xs:anyType" />
  <xs:element name="UpdateMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="userId" type="xs:long" />
        <xs:element form="qualified" name="cardNumber" type="xs:string" />
        <xs:element form="qualified" name="expirationDate" type="xs:string" />
        <xs:element form="qualified" name="cvvNumber" type="xs:string" />
        <xs:element form="qualified" name="customerName" type="xs:string" />
        <xs:element form="qualified" name="referenceId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMasterCreditMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q15="com.advantage.online.store.accountservice" type="q15:responseReason" />
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="userId" type="xs:long" />
        <xs:element form="qualified" name="safePayUsername" type="xs:string" />
        <xs:element form="qualified" name="safePayPassword" type="xs:string" />
        <xs:element form="qualified" name="referenceId" type="xs:long" />
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" xmlns:q16="com.advantage.online.store.accountservice" type="q16:responseReason" />
              <xs:element form="qualified" name="id" type="xs:long" />
              <xs:element form="qualified" name="reason" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDBToFactorySettingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="base64Token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDBToFactorySettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="httpStatus" type="xs:string" />
        <xs:element form="qualified" name="success" xmlns:q17="com.advantage.online.store.accountservice" type="q17:responseReason" />
        <xs:element form="qualified" name="reason" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountFieldsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="field" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:long" />
        <xs:element form="qualified" name="lastName" type="xs:string" />
        <xs:element form="qualified" name="firstName" type="xs:string" />
        <xs:element form="qualified" name="loginName" type="xs:string" />
        <xs:element form="qualified" name="accountType" type="xs:int" />
        <xs:element form="qualified" name="countryId" type="xs:long" />
        <xs:element form="qualified" name="countryName" type="xs:string" />
        <xs:element form="qualified" name="countryIsoName" type="xs:string" />
        <xs:element form="qualified" name="stateProvince" type="xs:string" />
        <xs:element form="qualified" name="cityName" type="xs:string" />
        <xs:element form="qualified" name="address" type="xs:string" />
        <xs:element form="qualified" name="zipcode" type="xs:string" />
        <xs:element form="qualified" name="phoneNumber" type="xs:string" />
        <xs:element form="qualified" name="email" type="xs:string" />
        <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long" />
        <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean" />
        <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int" />
        <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long" />
        <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CountryStatusResponse">
    <xs:sequence>
      <xs:element form="qualified" name="success" xmlns:q18="com.advantage.online.store.accountservice" type="q18:responseReason" />
      <xs:element form="qualified" name="countryId" type="xs:long" />
      <xs:element form="qualified" name="reason" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="responseReason">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="CountryIdEnum1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="US">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>1</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IL">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>2</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DE">
        <xs:annotation>
          <xs:appinfo>
            <xs:EnumerationValue>3</xs:EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>